<!DOCTYPE html>
<html>
  <head><meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /></head>
<body>
  <p>Dear <%= @user.email %></p>
  <p>A request to reset the password for your account has been made at Fivestarstoves</p>  
  <p>Your temporary password is <b>ChangeMe&7</b></p>  
  <p>You can change your password by going to <a href="http://5star.kalkbay.co.za<%= @ur%>">http://5star.kalkbay.co.za<%= @ur%></a></p> 

  <p>Thanks</p>
</body>
</html>

